/* <--------------  Contect_Section  --------------> */


.contect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contect-title {
    position: relative;
}

.contect-title h1 {
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}

.contect-section {
    display: flex;
    gap: 100px;
}

.contect-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contect-left h1 {
    font-size: 55px;
    font-weight: 500;
    background: linear-gradient(270deg, #31b7c2 50%, #7bc393 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contect-left p {
    max-width: 700px;
    color: #D8D8D8;
    font-size: 14px;
    line-height: 25px;
}

.contect-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #D8D8D8;
    font-size: 18px;

}

.contect-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contect-detail p {
    font-size: 16px;
}

.contect-detail img {
    width: 22px;
    height: 22px;
}


/* <--------------  Social_Icon's  --------------> */
.contect-social {
    display: flex;
    cursor: pointer;
}

.contect-social a {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    padding: 4px 10px;
}

.contect-social a img:hover {
    transform: translateY(-5px);
}


/* <--------------  Email_Submit  --------------> */

.contect-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contect-right input {
    border: none;
    outline: none;
    width: 650px;
    height: 45px;
    padding-left: 20px;
    background: #262626;
    color: #fff;
    font-family: inherit;
}

.contect-right textarea {
    width: 620px;
    height: 100px;
    border: none;
    outline: none;
    padding: 25px;
    background: #262626;
    color: #fff;
    font-family: inherit;
}

.contect-submit {
    border: none;
    color: #FFF;
    background: linear-gradient(26deg, #31b7c2 0.39%, #7bc393 102%);
    font-size: 18px;
    padding: 14px 40px;
    cursor: pointer;
    transition: 0.3s;
    /*     
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.contect-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


/* <--------------  Mobile_View  --------------> */


@media(max-width:768px) {
    .contect {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }

    .contect-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .contect-title img {
        width: 130px;
        margin-right: -20px;
    }

    .contect-section {
        flex-direction: column;
    }

    .contect-left h1 {
        font-size: 54px;
    }

    .contect-left p {
        font-size: 18px;
    }

    .contect-detail {
        gap: 20px;
    }

    .contect-detail img {
        width: 25px;
        height: 25px;
    }

    .contect-right label {
        font-size: 20px;
    }

    .contect-right input {
        width: 100%;
        font-size: 20px;
    }

    .contect-right textarea {
        width: 95%;
        font-size: 20px;
    }

    .contect-submit {
        font-size: 20px;
        padding: 15px 40px;
    }
}

/* <--------------  Mobile_View  --------------> */


@media(max-width:480px) {
    .contect {
        gap: 70px;
    }

    .contect-title h1 {
        font-size: 40px;
    }

    .contect-section {
        flex-direction: column;
    }

    .contect-left h1 {
        font-size: 42px;
    }

    .contect-left p {
        font-size: 16px;
    }

    .contect-detail img {
        width: 20px;
        height: 20px;
    }

    .contect-social a {
        width: 25px;
        height: 25px;
    }

    .contect-social a img:hover {
        transform: translateY(-5px);
    }

    .contect-right {
        gap: 16px;
    }

    .contect-right input {
        width: 90%;
        height: 40px;
        font-size: 16px;
    }

    .contect-right textarea {
        width: 82%;
        height: 40px;
        font-size: 16px;
    }

    .contect-submit {
        font-size: 14px;
        padding: 12px 25px;
    }
}